@import "tailwindcss";

@theme {
  --color-brand-primary: oklch(0.6825 0.072 206.25);
  --color-brand-bg: #080f0f;
  --color-brand-text: #FBFAF4;
  --color-brand-surface: #0B363C;
}

:root {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
}

body {
  margin: 0;
  font-family: inherit;
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  min-height: 100vh;
}
